[submodule "debugger-libs"]
	path = debugger-libs
	url = https://github.com/VitalElement/AvalonStudio.DebuggerLibs.git
[submodule "AvaloniaEdit"]
	path = AvaloniaEdit
	url = https://github.com/danwalmsley/AvaloniaEdit
[submodule "AvalonStudio.MSBuildHost"]
	path = AvalonStudio.MSBuildHost
	url = https://github.com/VitalElement/AvalonStudio.MSBuildHost.git
