[submodule "debugger-libs"]
	path = debugger-libs
	url = https://github.com/danwalmsley/debugger-libs.git
[submodule "AvaloniaEdit"]
	path = AvaloniaEdit
	url = https://github.com/AvaloniaUI/AvaloniaEdit
