language: csharp
os:
  - linux
mono:
  - latest
solution: AvalonStudio.sln
before_install:
  - cd AvalonStudio 
  - ./dependencies.sh
install:  
script:
  - ./AvalonStudio/buildmono.sh
notifications:
  email: false
  webhooks:
    urls:      
    on_success: change
    on_failure: always
    on_start: never