language: csharp
os:
  - linux
mono:
  - latest
solution: AvalonStudio.sln
before_install:
  - ls ./
  - /dependencies.sh
install:  
script:
  - /buildmono.sh
notifications:
  email: false
  webhooks:
    urls:      
    on_success: change
    on_failure: always
    on_start: never