sudo: required
services:
  - docker
os:
  - linux

solution: AvalonStudio.sln
before_install:
  - cd AvalonStudio 
  - git submodule sync
  - git submodule update --init --recursive
  - pwd
  - docker pull microsoft/dotnet:1.1-sdk-msbuild

install:  
script:
  - docker run -v /home/travis/build/VitalElement/AvalonStudio:/buildroot:Z microsoft/dotnet:1.1-sdk-msbuild /bin/bash -c "cd buildroot/AvalonStudio;./builddotnet.sh;"

after_success:
  - if [ "$TRAVIS_BRANCH" == "disabled" ]; then
      git clone https://github.com/VitalElement/AvalonBuild.git; 
      cd AvalonBuild;
      git rm -rf .;
      git clean -fxd; 
      cd ..;
      cp -a ./AvalonStudioBuild/bin/Release/. ./AvalonBuild/; 
      cd AvalonBuild;
      git add .;
      git commit -m 'new CI revision.' || true; 
      git push -f -q https://VitalElement:$GH_TOKEN@github.com/VitalElement/AvalonBuild master &2>/dev/null;
      cd ..;

      git clone https://github.com/VitalElement/AvalonStudioBinaries.git; 
      cd AvalonStudioBinaries;
      git rm -rf .;
      git clean -fxd; 
      cd ..;      
      cp -a ./AvalonStudio/bin/Release/. ./AvalonStudioBinaries/; 
      cd AvalonStudioBinaries;
      git add .;
      git commit -m 'new CI revision.' || true; 
      git push -f -q https://VitalElement:$GH_TOKEN@github.com/VitalElement/AvalonStudioBinaries master &2>/dev/null;
      cd..

      cp -a ./AvalonStudioBuild/bin/Release/. ./dockerbuild/AvalonBuild/
      cp ./AvalonStudioBuild/Dockerfile ./dockerbuild/Dockerfile
      cd dockerbuild
      docker build -t vitalelement/avalon:cibuild .
      cd ..

      docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
      docker images;
      docker push vitalelement/avalon:cibuild;
    fi

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/abf03510b7719b383e2b
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: never