version: 1.0.0.{build}
before_build:
- cmd: >-
    git submodule update --init --recursive

- ps: (new-object net.webclient).DownloadFile('https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.0.0/dotnet-dev-win-x64.latest.exe', "c:/dotnet-install.exe")
- ps: Start-Process c:\dotnet-install.exe -ArgumentList "/install","/quiet" -Wait

build_script:
- ps: dotnet restore .\AvalonStudio\AvalonStudio.sln --no-cache
- ps: dotnet publish .\AvalonStudio\AvalonStudio\AvalonStudio.csproj -c Release

after_build:
- cmd: 7z a -r AvalonStudio.zip %APPVEYOR_BUILD_FOLDER%\AvalonStudio\AvalonStudio\bin\Release\netcoreapp1.1\publish\*.*
artifacts:
- path: AvalonStudio.zip
deploy:
- provider: Environment
  name: FastRing
  on:
    branch: master
    APPVEYOR_REPO_TAG: true
notifications:
- provider: Webhook
  url: https://webhooks.gitter.im/e/e8ce2449e773a183903b
  method: POST
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: true