version: '1.0.0.{build}'
init:
- ps: (new-object net.webclient).DownloadFile('https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.0.0/dotnet-dev-win-x64.latest.exe', "c:/dotnet-install.exe")
- ps: Start-Process c:\dotnet-install.exe -ArgumentList "/install","/quiet" -Wait
build_script:
- ps: git submodule update --init --recursive
- ps: dotnet restore .\AvalonStudio\AvalonStudio.sln --no-cache
- ps: dotnet build .\AvalonStudio\AvalonStudio\AvalonStudio.csproj -c Release
