{
  "Name": "iroprop",
  "Description": "Implement Read Only Property.",
  "Snippet": "${type=int} ${by=&} ${class=ClassName}::get_${property=PropertyName}()\n{\n\treturn ${deref=*}${Caret}${ToFieldName(property)};\n}"
}