{
  "Name": "ppropfull",
  "Description": "Prototype Read and Write Property.",
  "Snippet": "${type=int} ${by=&} get_${property=PropertyName}();\nvoid set_${property}(${type}${by} value);\n${type}${ToStorageReference(by)} ${ToFieldName(property)};${Caret}"
}