{
  "Name": "ppropfull",
  "Description": "Prototype Read and Write Property.",
  "Snippet": "${type=int} ${by=&} ${property=PropertyName}();\nvoid ${property}(${type}${by} value);\n${type}${ToStorageReference(by)} ${ToFieldName(property)};${Caret}"
}