{
  "Name": "propfull",
  "Description": "cpp property implementation",
  "Snippet": "${type=int} ${ClassName}::get_${property=Property}()\n{\n\treturn ${ToFieldName(property)};\n}\n\nvoid ${ClassName}::set_${property}(${type} value)\n{\n\t${ToFieldName(property)} = value;${Caret}\n}"
}