{
  "Name": "proprop",
  "Description": "Prototype Read Only Property.",
  "Snippet": "${type=int} ${by=&} ${property=PropertyName}();\n${type}${ToStorageReference(by)} ${ToFieldName(property)};${Caret}"
}