<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents">

      <ComponentRef Id="MainAppShortcut" />
      
    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\AvalonStudio\bin\Release\netcoreapp2.2\win7-x64\publish\">
      <Component Id="MainAppShortcut" Guid="{52CCFB0B-489A-4A7D-9BD3-E8704792C8FF}">
        <Shortcut Id="MainAppShortcut"
                  Name="AvalonStudio"
                  Target="[INSTALLFOLDER]AvalonStudio.exe"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="app.icon" />

        <RegistryValue Id="RegShortcutKet" Root="HKCU" Key="SOFTWARE\AvalonStudio\" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />

        <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />
      </Component>
    </DirectoryRef>
    
  </Fragment>
</Wix>
