<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents">

      <ComponentRef Id="MainAppShortcut" />
      <ComponentRef Id="ASBuildComponent" />
      
    </ComponentGroup>

    <DirectoryRef Id="INSTALLASFOLDER" FileSource="..\AvalonStudio\bin\Release\netcoreapp2.2\win7-x64\publish\">
      <Component Id="MainAppShortcut" Guid="{52CCFB0B-489A-4A7D-9BD3-E8704792C8FF}">
        <Shortcut Id="MainAppShortcut"
                  Name="AvalonStudio"
                  Target="[INSTALLASFOLDER]AvalonStudio.exe"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLASFOLDER"
                  Icon="app.icon" />

        <RegistryValue Id="RegShortcutKet" Root="HKCU" Key="SOFTWARE\AvalonStudio" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />

        <CreateFolder Directory="ExtensionsASFolder" />

        <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />
        <RemoveFolder Id="RemoveVESmFolder" Directory="VitalElementFolder" On="uninstall" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLABFOLDER" FileSource="..\AvalonStudioBuild\bin\Release\netcoreapp2.2\win7-x64\publish\">
      <Component Id="ASBuildComponent" Guid="{89C57461-C489-47FB-80D1-80345C25B335}">
        <CreateFolder />
        <CreateFolder Directory="ExtensionsABFolder" />
        <Environment
                  Id="Environment"
                  Name="PATH"
                  Part="last"
                  System="yes"
                  Value="[INSTALLABFOLDER]"
                  Action="set" />
      </Component>
    </DirectoryRef>
    
  </Fragment>
</Wix>
